<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>project2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id="page-wrap">
        <div class="header">
            <div class="container">
                <span class="home">home</span>
                <div class="logo"></div>
                    <div class="profile-chooser">
                        <div class="avatar">
                            <img src="http://www.lorempixel.com/150/150/people/8">
                        </div>
                        <span class="name">Current User</span>
                    </div>    
            </div>  <!-- end container -->
         </div>  <!-- end header -->

         <div class="main">
            <div class="backbox">
                <div class="container">
                    <div class="sidebar">
                        <div class="top">
                            <h3>profile</h3>
                         </div>    
                            <div class="outerbox">
                                <div class="profpic">
                                </div>
                                <div class="outerbox two"></div>
                            </div>
                                              
                        </div> <!-- end of sidebar -->
                    <div class="stream">
                        <div class="top three">
                            <h3>compose</h3>
                        </div>
                        <div class="compose">
                         <input class="expand" type="text" name=" input" placeholder="share">
                            <div class="postimage"><img src="images/post.svg">
                            </div>
                                <div class="button">
                                     <a href="#myModal" role="button" class="btn" data-toggle ="modal"></a>
                                </div> 
                        </div>    
                            
                            
                        <div class="top four">
                            <h3>your stream</h3>
                        </div>      
                            <div class="tweets"></div> 


                        </div>  <!-- end of compose -->
                    </div> <!-- end of stream -->

                </div> <!-- end of container -->    
            </div>   <!-- end of backbox -->
         </div> <!-- end of main -->
    </div> <!-- end page-wrap -->

    <div id="modal">
            <div id="myModal" role="dialog" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-toggle="modal">x</button>
                </div>
                <div class="modalbody">
                    <input class="share" type="text" name="input" placeholder="share">
                    <input class="sharelocation" type="text" name="input" placeholder="location">
                    <button class="sharebutton" role="button" data-toggle="modal">share</button>
                </div>
            </div>
    </div>


    
    <script class="tweet-template" type="text/template">
        <div class="tweet" id= "<%= tweetID %>">
            <div class="avatar">
                <img class="avatar-pic" src= "<%= avatar %>">
            </div>
            <div class="tweet-header">
                <span class="name"><%= name %></span>
                <span class="location"><%= location %></span>
                <span class="time"><%= time %></span>
            </div>
            <div class="message"><%= msg %></div>
            <div class="tweet-footer">
                <span>favorite: <%= isFavorite %></span>
            </div>
        </div>
    </script>  





        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
